@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
body {
  background-color: white;
  font-family: Roboto;
  color: #030B1C;
  margin: 0;
  padding: 0;
  min-height: 100%;
}

main {
  width: 90%;
  max-width: 324px;
  margin: 0 auto;
  background-color: #FAFAFA;
  padding-top: 5.5rem;
}

img {
  width: 50%;
  height: 50%;
}

#footer {
  background-color: #1a0524;
  width: 100%;
  height: 20%;
  padding: 1.5rem 0;
  margin-top: 4rem;
}

.footer-menu {
  text-align: center;
}

.footer-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-menu ul li {
  margin: 1em 0;
}

.footer-menu ul li a {
  text-decoration: none;
  color: #FAFAFA;
}

#header {
  background-color: #1a0524;
  width: 100%;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  height: 3.8rem;
  padding: .8rem .5rem;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
}

.group.logo-container {
  width: 95%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  text-align: center;
}

.actions-group ul {
  list-style: none;
}

.actions-group ul li a img {
  width: 100%;
  height: 100%;
}

.actions-group__search, .actions-group__user {
  display: none;
}

.group.header-menu {
  display: none;
}

.article__img {
  border-bottom: 1px solid #030B1C;
  margin-bottom: .5em;
}

.article__img__file {
  width: 100%;
}

.article__name {
  text-decoration: none;
  color: #030B1C;
}

.article__price {
  font-size: 1em;
  font-weight: 700;
  margin: .3em 0 1em;
}

#sidebar {
  margin-bottom: 1.8em;
}

.section-title__label {
  padding-bottom: .3em;
  border-bottom: 2px solid black;
}

.box.filters {
  display: none;
}
