@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');

$--unnamed-font-family-roboto: Roboto;
$--unnamed-font-style-normal: normal;
$--unnamed-font-weight-normal: normal;
$--unnamed-font-weight-bold: bold;
$--unnamed-font-size-16: 16px;
$--unnamed-font-size-20: 20px;
$--unnamed-font-size-24: 24px;
$--unnamed-character-spacing-0-32: 0.32px;
$--unnamed-character-spacing-0-4: 0.4px;
$--unnamed-character-spacing-0-48: 0.48px;
$--unnamed-line-spacing-19: 19px;
$--unnamed-line-spacing-22: 22px;
$--unnamed-line-spacing-24: 24px;
$--unnamed-line-spacing-29: 29px;
$--unnamed-text-transform-uppercase: uppercase;