* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    color: #030B1C;
    background-color: #FAFAFA;
}

/* HEADER */

.header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #100217E6;
    width: 100%;
    height: 100px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.header__logo img {
    width: 200px;
}

.header__iconos {

    position: absolute;
    right: 4rem;

    img {
        height: 2.5rem;
        margin-left: 1rem;
    }
}

.header__burgerbutton {

    position: absolute;
    left: 4rem;
    display: none;

    img {
        height: 2.5rem;
    }

}

.header__nav {
    width: 60%;
    margin-top: 1.5rem;

    ul {
        list-style: none;
        display: flex;
        justify-content: space-between;

        li {
            display: inline;
            text-transform: uppercase;
            font-size: 2rem;
            letter-spacing: 0.5px;

            a{
                text-decoration: none;
                color: #FAFAFA;
            }
        }
    }
}

.header__nav--bold {
    font-weight: bold;
}

/* BURGER BUTTON */


/* MAIN */

.main {
    width: 80%;
    max-width: 110rem;
    margin: 14rem auto 5rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
}

/* ASIDE - FILTROS */

.main__aside {
    flex-basis: 25%;
}

.main__aside--h1 {
    font-size: 2.4rem;
    font-weight: bold;
    padding: 0 0 0.5rem;
    border-bottom: 1px solid #030B1C;
}

.main__aside--h2 {
    font-size: 2rem;
    font-weight: bold;
    padding: 2rem 0;
}

.main__aside--h3 {
    font-weight: bold;
    background-color: #E4E8EE;
    width: 100%;
    padding: 0.5rem 1rem;
}

.main__aside--ul {
    list-style: none;
    padding: 0.5rem 1rem 0;
    margin-bottom: 1rem;

    li {
        line-height: 2.5rem;
    }
}

/* PRODUCTOS */

.main__productos {
    flex-basis: 75%;
}

.main__productos {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
  
}

.main__productos--card {
    // min-width: 20rem;
    width: 30%;
    margin: 0 0 2rem 3%;

        a {
            text-decoration: none;
            border-bottom: 1px solid #030B1C; 
            img {
                width: 100%;
            }
        }

        p {
            margin-top: 0.5rem;
        }

        h4 {
            font-weight: bold;
            font-size: 1.6rem;
            margin-top: 0.5;
        }
}

/* FOOTER */

.footer {
    background-color: #100217E6;
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;

    ul {
        width: 50%;
        list-style: none;
        display: flex;
        justify-content: space-between;

        li {
            display: inline;

            a{
                text-decoration: none;
                color: #FAFAFA;
            }
        }
    }
}


@import "mediaqueries.scss";
