.filter-container{
  h3 {
    background-color: #E4E8EE;
    cursor: pointer;
    font-size: 16px;
    padding: 5px 0px 5px 16px;
    margin-top: 7px;
    margin-bottom: 5px;
  }

  p {
    font-size: 16px;
    margin: 2px 0px 2px 16px;
  }
}