// Fuente general
fuente = 'Roboto', Helvetica, Verdana, sans-serif
fuente_negrita = 'Roboto', Helvetica, Verdana, sans-serif
fuente_cursiva = 'Roboto', Helvetica, Verdana, sans-serif
fuente_cursiva_negrita = 'Roboto', Helvetica, Verdana, sans-serif