// Estructura principal del web en su cuerpo central
*
	-webkit-hyphens auto
	-moz-hyphens auto
	hyphens auto
	transition all 0.1s ease-in-out
	box-sizing border-box

a
	color azul_feisbuc
	text-decoration none

	&:focus
		color azul_feisbuc

	&:hover
	&:active
		color rosa_suave

body
	font-family fuente
	font-size normal
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale

img
	width 100%