// El header principal de la web
.header
	background fondo_header
	color texto_header
	align-items stretch
	align-content stretch
	display flex
	flex-flow row nowrap
	flex-wrap nowrap
	justify-content space-between
	padding 16px
	position relative
	height 69px

	&__botones
		border 1px solid red
		overflow hidden
		box-sizing border-box

		a
			background pink
			display table-cell
	
	&__logo
		border 1px solid green
		width auto

		&_h1
			margin 0
			padding 0

			a
				display block
				background pink