// El header principal de la web
.header
	align-items start
	background fondo_header
	color texto_header
	display flex
	flex-flow column wrap
	justify-content space-between
	height 69px
	padding 1em

	&__botones

		// Ocultando botones innecesario
		&__usuario,
		&__buscar
			visibility hidden
			display none
	
		// El menú
		&__menu
			background blanco_puro url("assets/iconos/bars-solid.svg") 50% 50% no-repeat
			display block
			color blanco_puro
			height 26px
			width: 30px
	
	// El logotipo
	&__logo
		border 1px solid green
		&_h1
			padding 0
			margin 0
			width 140px
	

	// El carrito de compras
	&__carrito
		img
			height 26px