// Navegación principal de la web
.header__nav
	background rgba(fondo_header, 0.95)
	left 0
	overflow hidden
	position fixed
	top 69px
	width 100%

.cerrado
	opacity 0
	height 0
	visibility hidden
	z-index -1

.abierto
	height auto
	opacity 1
	visibility visible
	z-index 1

.nav
	&__ul
		list-style none
		margin 0
		padding 0

		&__li

			&_a
				color texto_header
				border-top 1px solid blanco_transparente
				display block
				padding 1em
				text-transform uppercase
