// Normalizando estilos
@import 'normalize'
@import "node_modules/nib/index.styl"

// Generales y utilidades
@import "01._variables"
@import "02._paleta_de_colores"
@import "03._funciones"

// Animaciones generales
// @import "04._animate"

// Fuentes
@import "10._fuentes"

// Grilla general
@import "20._grilla"

// Estructura de la web
@import "30._main"
@import "31._header"
@import "32._nav"
@import "33._section"
@import "34._article"
@import "35._sidebar"
@import "36._footer"

// Etiquetas reutilizables
@import "40._figure"
@import "41._table"
@import "43._bloques"
@import "44._text"
@import "45._buttons"


// Para impresora
@media print
	@import "100._print"