.list-button{
  margin-right: 20px !important;
}

.list-item-container {
  width: 260px;
  margin: auto;
  text-align: left;
  img {
    width: inherit;
    border-bottom: solid 1px black;
  }

  p{
    margin: 0px;
  }
}

.list-button-grid-web {
  display: none;
  place-content: center;
  @media (min-width: 768px) {
    display: flex;
  }  
}

.list-button-grid-mobile
{
  display: none;
  place-content: center;
  @media (max-width: 768px) {
    display: flex;
  } 
}