// Import (Roboto) font
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap')

body
    background-color: white
    font-family: $font-family
    color: $text-color
    margin: 0
    padding: 0
    min-height: 100%

main
    width: 90%
    max-width: 324px
    margin: 0 auto
    background-color: $secondary-color

    padding-top: 5.5rem // falseado del espacio ocupado por el header

img
    width: 50%
    height: 50%

// #products-container
    // Desktop
    // @media ( min-width: $desktop-mw ) and ( min-height: $desktop-mh )
    //     display: grid
    //     grid-template-columns: 20% 80%