body {
  background-color: $color-light-grey-2;

  @include breakpoint($small) {
    background-color: $color-white;
  }
}

main {
  padding-top: 40px;

  @include breakpoint($small) {
    padding-top: 0;
  }
}
