#footer
    background-color: $primary-color

    // Desktop
    @media ( min-width: $desktop-mw ) and ( min-height: $desktop-mh )
        height: 4em
        font-size: 1.3em
    
    .group
        text-align: center

    .footer-menu
        // Mobile
        @media ( max-width: $desktop-mw ) and ( max-height: $desktop-mh )
            padding: 3.5em 0 3em

        // Desktop
        @media ( min-width: $desktop-mw ) and ( min-height: $desktop-mh )
            position: relative
            top: 1.4em

        &__item
            // Mobile
            @media ( max-width: $desktop-mw ) and ( max-height: $desktop-mh )
                margin-bottom: 1.5em

            // Desktop
            @media ( min-width: $desktop-mw ) and ( min-height: $desktop-mh )
                display: inline
                margin: 0 1.5em
        
        &__link
            text-decoration: none
            color: $secondary-color