#header
    background-color: $primary-color
    height: 20em
    
    // Desktop
    @media ( min-width: $desktop-mw ) and ( min-height: $desktop-mh )
        height: 8em

    .group
        display: grid
        grid-template-columns: 15% 65% 20%
        
        // Mobile
        @media ( max-width: $desktop-mw ) and ( max-height: $desktop-mh )
            padding: 2.5em 2em
        
        // Desktop
        @media ( min-width: $desktop-mw ) and ( min-height: $desktop-mh )
            padding: 2em 2em
            text-align: center

        .box.logo-container
            display: grid
            grid-template-columns: 25% 50% 25%
            
#burger-menu
    float: left

    &__icon
        height: 4.5em
    
    // Desktop
    @media ( min-width: $desktop-mw ) and ( min-height: $desktop-mh )
        display: none

.logo
    // Mobile
    @media ( max-width: $desktop-mw ) and ( max-height: $desktop-mh )
        height: 3.2em
        padding-top: .8em
    
    // Desktop
    @media ( min-width: $desktop-mw ) and ( min-height: $desktop-mh )
        height: 2em

.actions-group
    float: right
    padding-right: 3em
    display: grid
    grid-template-columns: 33% 33% 33%

    &__item
        // Desktop
        @media ( min-width: $desktop-mw ) and ( min-height: $desktop-mh )
            margin-left: 1em

        &__shopping-cart__icon
            height: 4em
            
            // Desktop
            @media ( min-width: $desktop-mw ) and ( min-height: $desktop-mh )
                height: 1.7em

        &__search
            // Mobile
            @media ( max-width: $desktop-mw ) and ( max-height: $desktop-mh )
                display: none
            
            &__icon
                // Desktop
                @media ( min-width: $desktop-mw ) and ( min-height: $desktop-mh )
                    height: 1.7em

        &__user
            // Mobile
            @media ( max-width: $desktop-mw ) and ( max-height: $desktop-mh )
                display: none
            
            &__icon
                // Desktop
                @media ( min-width: $desktop-mw ) and ( min-height: $desktop-mh )
                    height: 1.7em

.header-menu
    // Mobile
    @media ( max-width: $desktop-mw ) and ( max-height: $desktop-mh )
        display: none
    
    // Desktop
    @media ( min-width: $desktop-mw ) and ( min-height: $desktop-mh )
        display: inline
        position: relative
        top: 1em

        &__item
            display: inline
            margin: 0 3em

            &.active
                font-weight: 700
        
        &__link
            text-decoration: none
            color: $secondary-color
            text-transform: uppercase